lightning-card {
  width: 325px;
  display:block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

p.description {
  min-height: 80px;
}
img.species {
  height: 200px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
}
